/* Nav */
nav {
  display: flex;
  gap: 0.8rem;
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 0.3rem;
  border-radius: 3rem;
  z-index: 10;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

nav a {
  font-size: 1.3rem;
  transition: 500ms ease;
  color: black;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 1.5rem;
}

nav a.active {
  color: white;
}

