@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
#footer {
    background: #171515;
    padding: 3rem 6rem 0.7rem 6rem;
    /* text-align: center; */
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    color: #fafafa;
}
/* .permalinks {
    display: flex;
    justify-content:space-between;
    gap: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.permalinks a {
    color: var(--color-light);
    background: transparent;
    transition: var(--transition);
    font-size: 1rem;
}

.permalinks a:hover {
    color: var(--color-dark);
} */

.footer_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_main  h4 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1.4rem;
}

.footer__me {
    width: 85%;
}

.footer__me p {
    font-size: 0.9rem;
    font-weight: 500;
}
.footer__socials {
    width: 15%;
}

.footer__socials {
    display: flex;
    flex-direction: column;
}
.footer__social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 4rem;
}

.footer__social a {
    border-radius: 0.8rem;
    font-size: 1.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color: #fff;
}

/* .footer__socials a:nth-of-type(1) {
    color: #00a0dc;
}
.footer__socials a:nth-of-type(2) {
    color: #171515
}
.footer__socials a:nth-of-type(3) {
    color: #FF0000;
} */

.footer__socials a:nth-of-type(1):hover, 
.footer__socials a:nth-of-type(2):hover,
.footer__socials a:nth-of-type(3):hover
 {
    opacity: 0.6;
}

.footer__copyright {
    text-align: center;
}

.footer__copyright a {
    text-decoration: underline;
    color: #fafafa;
    font-weight: 600;
}

.footer__copyright > small {
    color: var(--color-light);
    font-size: 0.7rem;
}

@media screen and (max-width: 600px){
    footer {
        padding: 2rem 5rem;
    }
    .permalinks {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .footer__socials {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px){
    footer {
        padding: 1rem 1rem;
    }
    .permalinks {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .footer__socials {
        margin-bottom: 1rem;
    }
}