footer {
    background: var(--color-background-variant);
    padding: 4.2rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.permalinks a {
    color: var(--color-dark);
}

.permalinks a:hover {
    color: var(--color-light);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.footer__socials a {
    background: var(--color-primary);
    color: var(--color-light);
    border-radius: 0.8rem;
    font-size: 2.3rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
}

@media screen and (max-width: 600px){
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__socials {
        margin-bottom: 2.6rem;
    }
}