footer {
    background: var(--color-background-variant);
    padding: 3rem 6rem;
    text-align: center;
    font-size: 1rem;
}
.permalinks {
    display: flex;
    justify-content:space-between;
    gap: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.permalinks a {
    color: var(--color-light);
    background: transparent;
    transition: var(--transition);
    font-size: 1rem;
}

.permalinks a:hover {
    color: var(--color-dark);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.footer__socials a {
    /* background: var(--color-primary); */
    color: var(--color-light);
    border-radius: 0.8rem;
    font-size: 2.3rem;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer__socials a:nth-of-type(1) {
    color: #00a0dc;
}
.footer__socials a:nth-of-type(2) {
    color: #171515
}
.footer__socials a:nth-of-type(3) {
    color: #FF0000;
}

.footer__socials a:nth-of-type(1):hover, 
.footer__socials a:nth-of-type(2):hover,
.footer__socials a:nth-of-type(3):hover
 {
    opacity: 0.6;
}



.footer__copyright > small {
    color: var(--color-light);
}

@media screen and (max-width: 600px){
    footer {
        padding: 2rem 5rem;
    }
    .permalinks {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .footer__socials {
        margin-bottom: 1rem;
    }
}