/* Header */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

header {
    height: 94.9vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: rgba(245,245,245,.8);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    padding: 8rem 0;
}
header .header_intro_container {
  width: 80%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
header .header_intro_container h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.5rem;
  letter-spacing: 3.5px;
  text-align: center;
  color: #111;
  margin: 1rem 0;
}

header .header_intro_container p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  margin: 1rem 0 2.5rem 0;
  padding: 0 20rem;
  font-weight: 500;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.header__container .header-home-socials {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__container .header-home-socials .header-home-social {
  width: 100%;
  height: 100%;
  transition: 1s;
  padding: 1.2rem;
}

.header__container .header-home-socials .header-home-social:hover {
  background-color: #fbfb8d;
}
.header__container .header-home-socials .header-home-social .header-home-social-link {
  display: flex;
  transition: .3s;
  border-radius: 5px;
}

.header__container .header-home-socials .header-home-social .header-home-social-link svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #111;
}
.downloadAndContact {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.me {
  width: 16rem;
  height: 16rem;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12rem 12rem;
  overflow: hidden;
  border: 0.3px solid var(--color-grey-ashy);
}

.me .image {
  display: flex;
  background: linear-gradient(90deg, rgb(202, 200, 225) 5%, rgb(217, 217, 239) 26%, rgb(222, 241, 245) 100%);
  position: absolute;
  left: -2rem;
}
/* .me:hover {
  border: none;
}
.me .image:hover {
  background: var(--color-light);
} */

.biography {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0;
}

.header__social__icons {
  display: flex;
  gap: 0.4rem;
  /* position: absolute;
  bottom: 5rem; */
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}

.header__social__icons::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.header__social__icons svg {
  cursor: pointer;
}

/* about */
#about {
  padding: 0 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
  
.about__card {
  background: var(--color-background-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: var(--transition);
}
  
.about__card:hover {
  background: var(--color-light);
  border-color: var(--color-primary-variant);
  border-width: 0.2px;
  border-radius: 0.3rem;
  cursor: default;
}
  
.about__icon {
  color: var(--color-primary-variant);
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
  
.about__card h5 {
  font-size: 1rem;
  padding-bottom: 1rem;
}
  
.about__card small {
  font-size: 0.7rem;
  color: var(--color-dark);
}


/* scroll down component */

.scroll__down__container {
    display: flex;
    gap: 1rem;
    /* position: absolute;
    right: 0rem;
    bottom: 5rem; */
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}

.scroll__down__container:after {
    content: "";
    width: 1px;
    height: 6rem;
    background-color: var(--color-primary);
}


/* media queries for header */
/* @media screen and (max-width:1024px){
  header {
    height: 100vh;
  }
} */


/* media queries for about component */
@media screen and (max-width:1024px) { 
  header {
    height: 100%;
  }
  .about__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .about__me {
    width: 100%;
    height: auto;
  }

  .about__me-image {
    width: 100%;
    height: 100%;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }
}
  
@media screen and (max-width:600px) {
  .header__social__icons,
  .scroll__down__container {
    display: none;
  }
  #about {
    display: flex;
    flex-direction: column;
  }
  .about__card {
    padding: 0.5rem;
  }
  .about__card h5 {
    padding-bottom: 0.2rem;
  } 
  .about__icon {
    margin-bottom: 0.2rem;
  }
  .me {
    margin-top: 1.6rem;
    margin-bottom: 0.7rem;
  }

}

@media screen and (max-width:450px) {
  .me {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width:375px) {
  .me {
    width: 10rem;
    height: 10rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }
}

@media screen and (max-width:280px) {
  .header__container h1 {
    font-size: 2rem;
  }
  .me {
    width: 8rem;
    height: 8rem;
  }
  .downloadAndContact .btn {
    font-size: 0.7rem;
  }
  .about__card:first-child small {
    font-size:xx-small;
  }
}