/* Header */
header {
    height: 102vh;
    overflow: hidden;
    padding-top: 3rem;
}
  
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.downloadAndContact {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.me {
  /* width: 22rem;
  height: 30rem; */
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 5rem;
  /* border-radius: 12rem 12rem 0 0; looks like opposite cup */
  border-radius: 12rem 12rem;
  overflow: hidden;
  border: 0.3px solid var(--color-grey-ashy);
}

.me .image {
  background: linear-gradient(90deg, rgb(202, 200, 225) 5%, rgb(217, 217, 239) 26%, rgb(222, 241, 245) 100%);
  position: absolute;
  left: -3rem;
} 
/* .me:hover {
  border: none;
}
.me .image:hover {
  background: var(--color-light);
} */

.biography {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

.header__social__icons {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  bottom: 5rem;
  flex-direction: column;
  align-items: center;
}

.header__social__icons::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* about */
#about {
  margin-top: 1rem;
  position: absolute;
  padding: 0 5rem;
  bottom: 6rem;
  width: 100%;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 100%;
  
}
  
.about__card {
  background: var(--color-background-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  transition: var(--transition);
}
  
.about__card:hover {
  background: var(--color-light);
  border-color: var(--color-primary-variant);
  border-width: 0.2px;
  border-radius: 0.3rem;
  cursor: default;
}
  
.about__icon {
  color: var(--color-primary-variant);
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
  
.about__card h5 {
  font-size: 1rem;
  padding-bottom: 1rem;
}
  
.about__card small {
  font-size: 0.7rem;
  color: var(--color-dark);
}


/* scroll down component */

.scroll__down__container {
    display: flex;
    gap: 0.4rem;
    position: absolute;
    right: 0rem;
    bottom: 5rem;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}

.scroll__down__container:after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}


/* media queries for header */
@media screen and (max-width:1024px){
  header {
    height: 100vh;
  }
}
@media screen and (max-width:600px){
  header {
    height: 100vh;
  }
  .header__social__icons,
  .scroll__down {
    display: none;
  }
}

/* media queries for about component */
@media screen and (max-width:1024px) { 
  .about__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .about__me {
    width: 100%;
    height: auto;
  }

  .about__me-image {
    width: 100%;
    height: 100%;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }
}
  
@media screen and (max-width:600px) {

  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 100%;
    margin-bottom: 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* margin: 0 4rem 4rem 0; */
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    width: 100%;
  }

}