/* Header */
header {
    /* height: 94.84vh; */
    height: 100vh - 50px;
    /* overflow: hidden; */
    padding-top: 1rem;
    padding-bottom: 2rem;
}
  
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.downloadAndContact {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.me {
  /* width: 22rem;
  height: 22rem; */
  width: 16rem;
  height: 16rem;
  position: relative;
  /* width: 13%;
  height: 26%; */
  /* position: absolute; */
  /* left: calc(50% - 6rem); */
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 12rem 12rem 0 0; looks like opposite cup */
  border-radius: 12rem 12rem;
  overflow: hidden;
  border: 0.3px solid var(--color-grey-ashy);
}

.me .image {
  display: flex;
  background: linear-gradient(90deg, rgb(202, 200, 225) 5%, rgb(217, 217, 239) 26%, rgb(222, 241, 245) 100%);
  position: absolute;
  left: -2rem;
  
  
} 
/* .me:hover {
  border: none;
}
.me .image:hover {
  background: var(--color-light);
} */

.biography {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0;
}

.header__social__icons {
  display: flex;
  gap: 0.4rem;
  /* position: absolute;
  bottom: 5rem; */
  flex-direction: column;
  align-items: center;
  z-index: 10000;
}

.header__social__icons::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.header__social__icons svg {
  cursor: pointer;
}

/* about */
#about {
  padding: 0 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
  
.about__card {
  background: var(--color-background-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: var(--transition);
}
  
.about__card:hover {
  background: var(--color-light);
  border-color: var(--color-primary-variant);
  border-width: 0.2px;
  border-radius: 0.3rem;
  cursor: default;
}
  
.about__icon {
  color: var(--color-primary-variant);
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
  
.about__card h5 {
  font-size: 1rem;
  padding-bottom: 1rem;
}
  
.about__card small {
  font-size: 0.7rem;
  color: var(--color-dark);
}


/* scroll down component */

.scroll__down__container {
    display: flex;
    gap: 1rem;
    /* position: absolute;
    right: 0rem;
    bottom: 5rem; */
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}

.scroll__down__container:after {
    content: "";
    width: 1px;
    height: 6rem;
    background-color: var(--color-primary);
}


/* media queries for header */
/* @media screen and (max-width:1024px){
  header {
    height: 100vh;
  }
} */


/* media queries for about component */
@media screen and (max-width:1024px) { 
  header {
    height: 100%;
  }
  .about__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .about__me {
    width: 100%;
    height: auto;
  }

  .about__me-image {
    width: 100%;
    height: 100%;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }
}
  
@media screen and (max-width:600px) {
  .header__social__icons,
  .scroll__down__container {
    display: none;
  }
  #about {
    display: flex;
    flex-direction: column;
  }
  .about__card {
    padding: 0.5rem;
  }
  .about__card h5 {
    padding-bottom: 0.2rem;
  } 
  .about__icon {
    margin-bottom: 0.2rem;
  }
  .me {
    margin-top: 1.6rem;
    margin-bottom: 0.7rem;
  }

}

@media screen and (max-width:450px) {
  .me {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width:375px) {
  .me {
    width: 10rem;
    height: 10rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }
}

@media screen and (max-width:280px) {
  .header__container h1 {
    font-size: 2rem;
  }
  .me {
    width: 8rem;
    height: 8rem;
  }
  .downloadAndContact .btn {
    font-size: 0.7rem;
  }
  .about__card:first-child small {
    font-size:xx-small;
  }
}