@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@font-face {
	font-family: Blanka;
	src: url("../src/assets/fonts/BLANKA Font/Blanka-Regular.otf");
}

.navbar {
  	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 1rem 5rem;
  	position: sticky;
  	box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  	top: -5px;
	z-index: 2;
  	background-color: #fff;
}

.navbar .logo {
	width: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.3rem;
}
.navbar .logo .benavatar {
	width: 2rem;
	height: 2rem;
	position: relative;
	border-radius: 12rem 12rem;
	overflow: hidden;
  	/* border: 0.3px solid var(--color-grey-ashy); */
	background: linear-gradient(90deg, rgb(202, 200, 225) 5%, rgb(217, 217, 239) 26%, rgb(222, 241, 245) 100%);
	margin-top: 1.5px;
}
.navbar .logo .benavatar img {
  	position: absolute;
	right: 1px;
	top: 1px;
	width: 100%;
}



.navbar .logo .benlogo {
	width: 50%;
}

.navbar .logo .benlogo h4 {
	font-size: 16px;
	font-family: Blanka;
}


nav a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	margin: 0 1rem;
	color: #333;
	text-decoration: none;
 	cursor: pointer;
	text-transform: uppercase;
}
nav .textlink {
	transition: .7s;
}
nav .textlink:hover {
	color: #5E5DF0;
	font-weight: 900;
}

nav a.active {
  color: var(--color-primary);
  font-weight: 800;
}

.navbar .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.navbar,
nav {
	display: flex;
	align-items: center;
}

nav .icon {
  margin-bottom: -0.15rem;
}

.theme-button {
  position: fixed;
  right: 4.7rem;
  padding: 4px 5px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.1s;
}

.theme-button svg{
  font-size: 1.5rem;
}

/* navbar changes for all small devices */
@media only screen and (max-width: 600px) {
  .navbar {
    padding-left: 3rem;
    padding-right: 1.5rem;
  }
	.navbar .nav-btn {
		visibility: visible;
		opacity: 1;
		position: fixed;
		right: 2rem; 
	}

  .navbar .theme-button {
    padding-bottom: 4.4px;
  }

  nav .nav-close-btn {
		position: absolute;
		top: 0.4rem;
		right: 1.8rem;
	}

	.navbar nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--color-grey-ashy);
		transition: 1s;
		transform: translateY(-140vh);
    	z-index: 2;
	}



	.navbar .responsive_nav {
		transform: none;
	}


	nav a {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 768px) {

	.navbar {
		padding-left: 3.3rem;
	}
	.navbar h3 {
		font-size: 14px;
	}
	nav a {
		font-size: 12px;
		font-weight: 600;
	}
	.theme-button svg{
		font-size: 1rem;
		margin-bottom: px;
	}

}

@media screen and (max-width: 860px) {
	nav a {
		font-size: 12px;
		font-weight: 600;
	}
}

