.scroll__down__container {
    display: flex;
    gap: 0.4rem;
    position: absolute;
    right: 0rem;
    bottom: 5rem;
    flex-direction: column;
    align-items: center;
    transition: 1s ease;
}
/* .scroll__down__description {
    transform: rotate(90deg);
} */
.scroll__down__container:after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}